{% extends "base.html.twig" %}

{% block h1 %}Carte à l'unité{% endblock %}

{% block body %}

{% for t_produit in t_produits %}

        {% if t_produit.activation %}
{{dump(t_produit)}}
        <tr>
            
            <td> {% block h2 %}{{ t_produit.nomProduit }}{% endblock %} </td>
            <td> {{ t_produit.stock }} </td>
            <td> {{ t_produit.prix|number_format(2) }} </td>
        </tr>

            {% endif %}


{% endfor %}

{% endblock %}