{% extends 'base.html.twig' %}
<!-- Étend la base.html.twig, indiquant que ce fichier hérite de la structure de base du modèle -->

{% block title %}
<!-- Début du bloc de contenu "title" qui sera inséré dans le bloc correspondant de la base.html.twig -->
    Hello PagesController!
<!-- Contenu du bloc "title", définissant le titre de la page -->
{% endblock %}

{% block body %}
<!-- Début du bloc de contenu "body" qui sera inséré dans le bloc correspondant de la base.html.twig -->

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!-- Style CSS intégré directement dans le fichier Twig -->

<div class="example-wrapper">
    <!-- Div contenant un exemple de style avec une largeur maximale de 800 pixels -->

    <h1>Hello {{ controller_name }}! ✅</h1>
    <!-- En-tête de niveau 1 saluant le controller_name, qui sera probablement remplacé par une valeur dynamique lors de l'affichage de la page -->

    This friendly message is coming from:
    <!-- Message indiquant la source du message amical -->

    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/cisco/Desktop/YGO_ECommerce/src/Controller/PagesController.php'|file_link(0) }}">src/Controller/PagesController.php</a></code></li>
        <!-- Liste des sources, avec un lien vers le fichier du contrôleur -->
        <li>Your template at <code><a href="{{ 'C:/Users/cisco/Desktop/YGO_ECommerce/templates/pages/index.html.twig'|file_link(0) }}">templates/pages/index.html.twig</a></code></li>
        <!-- Liste des sources, avec un lien vers le fichier du template Twig -->
    </ul>
</div>
<!-- Fin du conteneur "example-wrapper" -->

{% endblock %}
<!-- Fin du bloc de contenu "body" -->

