{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto p-2">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center display-5 my-3">Reset your password</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Entrez votre email et nous vous enverrons le lien de réinitialisation.
                        </small>
                    </div>

                    <button class="btn btn-primary mt-3">Envoyer</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
