{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de pass{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto p-2">
    <h1>Réinitialiser votre mot de pass</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser mot de pass</button>
    {{ form_end(resetForm) }}
</main>
{% endblock %}
