{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block h1 %}Back Office{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto p-2">
    <div>
        <a class="btn btn-primary col-3" href="{{ path("app_t_produits_index") }}">Gestion des produits</a>
    </div>
</main>
{% endblock %}
