{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block h1 %}Back Office{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path("app_t_produits_index") }}">Gestion des produits</a>

{% endblock %}
