{% extends 'base.html.twig' %}

{% block title %}Modifier adresse de livraison{% endblock %}
{% block h1 %}Modifier adresse de livraison{% endblock %}

{% block body %}
<main class="container mx-auto p-2">
    <a class="btn btn-secondary rounded-custom" href="{{ path('app_adresse_livraison_index') }}">Retour</a>

    {{ include('adresse_livraison/_form.html.twig', {'button_label': 'Modifier'}) }}

</main>

{% endblock %}
