{% extends "base.html.twig" %}

{% block title %}À Propos{% endblock %}
{% block h1 %}À Propos{% endblock %}

{% block body %}
    <main class="container">
        <h2 class="text-primary mt-4">DuelDestinyShop!</h2>

        <h3 class="text-primary mt-5">Notre Histoire</h3>
        <p class="text-white mt-3">
            Fondée en 2024 par Franck Dumotier, un passionné de jeux de cartes, DuelDestinyShop! est née de la volonté de fournir aux joueurs une source fiable et accessible de cartes Yu-Gi-Oh!. Ce qui a commencé comme une petite entreprise locale est devenu une destination en ligne pour les collectionneurs, les joueurs compétitifs et les amateurs de l'univers Yu-Gi-Oh!.
        </p>

        <h3 class="text-primary mt-5">Notre Mission</h3>
        <p class="text-white mt-3">
            Chez DuelDestinyShop!, notre mission est de fournir à nos clients une expérience d'achat exceptionnelle et de les aider à réaliser leurs rêves de devenir les meilleurs duellistes. Nous nous engageons à offrir un service client de qualité, des produits authentiques et une livraison rapide.
        </p>

        <h3 class="text-primary mt-5">Nos Valeurs</h3>
        <ul>
            <li><strong>Passion pour le jeu :</strong> Nous sommes des joueurs passionnés, et notre engagement envers la communauté se reflète dans tout ce que nous faisons.</li>
            <li><strong>Intégrité :</strong> Nous croyons en la transparence et en l'honnêteté dans toutes nos interactions avec nos clients.</li>
            <li><strong>Qualité :</strong> Nous nous engageons à fournir des produits de haute qualité et à assurer la satisfaction de nos clients.</li>
            <li><strong>Innovation :</strong> Nous sommes constamment à la recherche de nouvelles façons d'améliorer notre service et de répondre aux besoins changeants de nos clients.</li>
        </ul>

        <h3 class="text-primary mt-5">Contactez-Nous</h3>
        <p class="text-white mt-3">
            Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à <a class="text-primary" href="{{ path('contact') }}">nous contacter</a>. Notre équipe est là pour vous aider et vous fournir l'assistance dont vous avez besoin.
        </p>
    </main>
{% endblock %}
