{% extends "base.html.twig" %}

{% block title %}Mentions Légales{% endblock %}
{% block h1 %}Mentions Légales{% endblock %}

{% block body %}

                <main class="container">
                <h2 class="text-primary mt-5">Éditeur du site :</h2>

                <p class="text-white mt-3">
                    Nom de l'entreprise : DuelDestinyShop!<br>
                    Forme juridique : SAS<br>
                    Adresse : 123 Rue des Duellistes, 75000 Paris, France<br>
                    Téléphone : +33 1 23 45 67 89<br>
                    E-mail : dueldestinyshp@gmail.com<br>
                    RCS : Paris 123 456 789<br>
                    Capital social : 5 000 euros<br>
                    N° de TVA intracommunautaire : FR123456789<br>
                    Responsable de la publication : Franck Dumotier
                </p>

                <h2 class="text-primary mt-5">Hébergement :</h2>

                <p class="text-white mt-3">
                    Nom de l'hébergeur : Hébergement Web Inc.<br>
                    Adresse : 456 Avenue de l'Hébergement, 75001 Paris, France<br>
                    Téléphone : +33 1 23 45 67 90<br>
                    E-mail : support@hebergementweb.com
                </p>

                <h2 class="text-primary mt-5">Propriété intellectuelle :</h2>

                <p class="text-white mt-3">
                    Le site et son contenu (textes, images, vidéos, etc.) sont la propriété exclusive de DuelDestinyShop!. Toute reproduction ou représentation totale ou partielle de ce site et de son contenu est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
                </p>

                <h2 class="text-primary mt-5">Données personnelles :</h2>

                <p class="text-white mt-3">
                    Les informations recueillies font l’objet d’un traitement informatique destiné à DuelDestinyShop! pour la gestion de la clientèle et des commandes. Les destinataires des données sont uniquement les services concernés de DuelDestinyShop!. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d'un droit d'accès, de rectification, de suppression et d'opposition aux informations qui vous concernent. Vous pouvez exercer ces droits en nous contactant à contact@dueldestinyshop.com ou par courrier à l’adresse 123 Rue des Duellistes, 75000 Paris, France.
                </p>

                {# <h2 class="text-primary mt-5">Cookies :</h2>

                <p class="text-white mt-3">
                    Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, vous acceptez l'utilisation de ces cookies.
                </p> #}

                <h2 class="text-primary mt-5">Limitation de responsabilité :</h2>

                <p class="text-white mt-3">
                    DuelDestinyShop! ne saurait être tenu pour responsable des erreurs présentes sur le site, ni de l'usage qui pourrait en être fait par les utilisateurs.
                </p>
            </main>

{% endblock %}