{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}
{% block h1 %}Paiement accepté{% endblock %}

{% block body %}

    <main class="container">

    </main>

{% endblock %}