{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}
{% block h1 %}Paiement accepté{% endblock %}

{% block body %}

    <main class="container">
        <h2 class="text-primary text-center mt-5">Merci pour votre achat.</h2>
        <p class="text-white text-center mt-4">Nous commençons dès que possible la préparation de votre commande</p>
    </main>

{% endblock %}