{% extends 'base.html.twig' %}
{% block title %}Paiement refusé{% endblock %}
{% block h1 %}Paiement refusé{% endblock %}

{% block body %}
    <main class="container">
        <h2 class="text-center text-danger mt-3 mb-5">Malheureusement, votre paiement n'a pas abouti. Veuillez réessayer.</p>
        <a class="text-center mt-5" href="{{path('app_panier')}}">Retour au panier</a>
    </main>
{% endblock %}
