{% extends 'base.html.twig' %}

{% block title %}Modifier produit{% endblock %}

{% block h1 %}Modifier produit{% endblock %}

{% block body %}

    <a class="btn btn-secondary" href="{{ path('app_t_produits_index') }}">Retour</a>

    {{ include('t_produits/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('t_produits/_delete_form.html.twig') }}

{% endblock %}
